<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Client:Url:API" value="http://api.internal.com/api/" />
    <add key="PathTrace" value="C:\registerClient\Trace\"/>
    <add key="PathTraceError" value="C:\registerClient\Error\"/>
  </appSettings>
</configuration>